{% extends "catalog/base.html" %}
{% block content %}

<div class = "container">
<div class = "columns">
<div class = "column is-half">
<div class = "box">
<figure class = "image is-1by1">
<img src = "https://kitabkuber.s3.ap-south-1.amazonaws.com/{{ book.book_image }}" />
</figure>
</div>
</div>
<div class = "column is-half">
<h1 class = "title"> {{ book.book_name }} </h1>
<br>
<h3><strong>Description:</strong> {{ book.book_description }}</h3>
<br>
<p class = "is-size-5"><b>MRP:</b> Rs.{{ book.book_price }}</p>
<hr class = "divider">
<div class = "shipping_charges">
{% if book.book_price >= 1000 %}
<strong> Shipping charges additional (Rs.250/book) <strong><br>
{% endif %}
{% if book.book_price < 1000 %}
<strong> Shipping charges additional (Rs.150/book) <strong><br>
{% endif %}

</div>

<br>
<br>
<div class = "box">
<form action = "rental/" method = "post">
{% csrf_token %}

<div class = "control">
<button class = "button is-primary" type = "submit" value = "Rent">Rent & Proceed to Checkout 
</div>
</form>
</div>
</div>
<hr>
</div>
<div>
<br>

<h1 class = "title"> 
Other  {{ book.book_category }} books
</h1>
<br> 

<div class = "columns is-multiline">
{% for category in categories %}
<div class = "column is-one-quarter">
<div class = "box">
<div class = "product">
<figure class = "image is-128x128">
<img src = "https://kitabkuber.s3.ap-south-1.amazonaws.com/{{ category.book_image }}" />
</figure>
<br><br><strong><a href = "/book/{{ category.id }}">{{ category.book_name }}</a></strong>
<br><p>MRP: Rs.{{ category.book_price }} </p>
</div>
</div>
</div>
{% endfor %}

</div>


</div>
</div>

{% endblock %}