{% extends 'catalog/base.html' %}

{% block content %}

<div class = "content">

<center><h1><b> Frequently Asked Questions</b></h1></center>

<div class = "faq">

<p><b> What's the Zero Cost Rental Plan? </b> <br>
 Pay the book's price at the time of purchase and once you return the book, KitabKuber will give you your money back. <br>
Or you could keep the book forever. No questions asked. </p>
<br>
<p><b> What are the shipping and collection charges?</b><br>
Shipping and Collection charges for books under 1000/- are Rs.150 each, while for books over 1000/- the charges are Rs.250 each.</p>
<br>
<p><b> What's the rental period for this plan? </b><br>
You can keep the book for as long as you want but to be eligible for the refundable amount, you'll have to <br>
return the book within 1 year of issue. However, we don't ask for any commitments. You can keep the book <br>
for as long as you want. No questions asked </p>
<br>
<p><b>In what area does KitabKuber currently operate?</b><br>
We currently operate in Delhi/NCR but we plan on expanding soon. </p>
<br>
<P><b>Is there a security deposit?</b><br>
No, there is no security deposit. </p>
<br>
<p><b> What is the delivery period of the books? </b><br>
The books will be delivered within 2-3 days based on the availability of the book</p>
<br>
<p><b>How do I return the book?</b><br>
Just drop us an E-mail or a message on WhatsApp and we'll arrange the collection from your doorstep as soon as possible. </p>
<br>
<p><b>How's the quality of books?</b><br>
We believe in keeping an updated inventory, hence all the books are new or as good as new and in proper condition</p>
<br>
<p><b>What's the exchange policy?</b><br>
You can exchange the book by paying the delivery and collection charges</p>
<br>
<p><b>What if I am not satisified by the condition of the book?</b><br>
We aim to offer quality service to our customers so if you're not happy with the condition of the book, you can return the book. <br>
No questions asked </p>
<br>
<p><b>How do I sell my books on KitabKuber?</b><br>
Go to the 'Sell Books' tab, fill in the details and we will contact you within 24 hours</p>
<br>
<p><b>How do I contact KitabKuber?</b><br>
Email: kitabkuber@gmail.com<br>
WhatsApp/Phone: +91 9599541241 </p>
<br>





</div>




{% endblock %}