{% extends 'catalog/base.html' %}

{% block content %}

<div class = "content">

<center><h1><b> Zero Cost Rental Plan from KitabKuber</b></h1></center>

<div class = "faq">

<p><b> What's the Zero Cost Rental Plan? </b> <br>
 Pay the book's price at the time of purchase and once you return the book, KitabKuber will give you your money back. <br>
Or you could keep the book forever. No questions asked. </p>
<br>
<p><b> What are the shipping and collection charges?</b><br>
A total of 500/- (Shipping + Collection) will be deducted from the refundable amount and KitabKuber will take care of <br>
the shipping and collection process, so that you can solely focus on your exam from the comfort of your home.</p>
<br>
<p><b> What's the rental period for this plan? </b><br>
You can keep the book for as long as you want but to be eligible for the refundable amount, you'll have to <br>
return the book within 1 year of issue. However, we don't ask for any commitments. You can keep the book <br>
for as long as you want. No questions asked <p>
<br>




</div>




{% endblock %}