{% extends "catalog/base.html" %}
{% load static %}
{% block content %}
<style>
.rows {
 display: flex;
 flex-direction: column;
}
</style>
<div class = "columns">
<div class = "column is-three-fifths">
<figure class="image is-2by1">
<img class = 'is-rounded' src = "{% static 'catalog/homepageillustration.svg' %}">
<figure>
</div> 
<div class = "column is-two-fifths">
<br>
<p class = "is-size-1 is-family-sans-serif"><b>Rent Books and Save<br> BIG!</b><br></p>
<h2 class = "subtitle"> As a student, renting books is much more affordable than buying and KitabKuber.com is the sole platform that lets you rent competitive exam guides and reference books at<b> low prices </b></h2> 

</div>
</div>
<div class = "catalog">
<center><p class = "is-size-1 is-centered">Catalog</p>
<div>
<form action = "categories/" method='POST'>
{% csrf_token %}
<div class = "field is-horizontal is-centered">
<div class = "field-body">
<div class = "columns">
<div class = "column is-6">
<div class = "select is-large is-primary">
<select name = "categories">
<option>SAT I </option>
<option> SAT II </option>
<option> ACT </option>
<option> IELTS </option>
<option> TOEFL </option>
<option> GRE </option>
<option> GMAT </option>
<option> IIT-JEE </option>

</select>
</div>

</div>
<div class = "column">
<button class = "button is-primary is-large" type = "Submit">Search by Category
</div>
</div>
</form>
</div>
</div></div>
</center>
<br>
<br>
<div class = "columns is-multiline">
{% for product in object_list %}

<div class = "column is-one-quarter">
<div class = "box">

<figure class = "image is-128x128">
<img src = "https://kitabkuber.s3.ap-south-1.amazonaws.com/{{ product.book_image }}" />
</figure>
<br><br><strong><a href = "book/{{ product.id }}">{{ product.book_name }}</a></strong>
<br><p><b>Category:</b> {{ product.book_category }}</p>
<b><p>Daily Rent:</b> Rs.{{ product.book_price }} </p>
</div>

</div>
{% endfor %}

</div>






{% endblock %}