{% extends 'catalog/base.html' %}
{% block content %}
<center><h1 class = "title">Rental Details</h1></center>
<br>
<br>
<div class = "container">
<div class = "box">
<div class = "columns">

<div class = "column">


<figure class = "image is-96x96">
<img src = "https://kitabkuber.s3.ap-south-1.amazonaws.com/{{ product.book_image }}"/>
</figure>
<br><br>

<p class = "is-size-5"> <strong> {{ product.book_name }} </strong> </p><br>



<strong> Total Payable: </strong><br>
<hr>
<b> MRP:</B> Rs.{{ product.book_price }}
<br>
<div id = "delivery_charges">
{% if product.book_price >= 1000 %}
<strong>Shipment Charges: </strong> 250/-
<br>
<strong>Collection Charges </strong> 250/-
{% endif %}
{% if product.book_price < 1000 %}
<strong>Shipment Charges: </strong> 150/-
<br>
<strong>Collection Charges </strong> 150/-
{% endif %}
</div>
<br>
<strong> Refundable: </strong>  Rs.{{ product.book_price }}

</div>
<div class = "column">
<h1 class = "title">Rental Policies:</h1>
<hr class = "divider">
<br>
Once the rental is up and the book is successfully returned to KitabKuber.com, we will refund the cost of the book 
to your account via your preferred payment method immediately.
<p>
<br>
<P> The book should be returned back to KitabKuber.com in the same condition as it was delivered. If any harm and damage is caused to the book, 
KitabKuber.com has the right to not return the deductible amount. </P>
<br>
<p>As of now, we are only accepting Cash on Delivery/UPI on doorstep as the payment mode</p>

</div>
</div>
</div>
<div class = "checkout-form">
<form action = "checkout/" method = "post" id="rental">
{% csrf_token %}
<div class = "field is-horizontal is-centered">
<div class = "field-body">
<div class="field">
  <label class="label">How long do you intend on keeping the book?</label>
  <div class="control">
    <select class="input is-danger" name="rentalperiod">
     <option>1 Months</option> 
     <option>2 Months</option>
     <option>3 Months</option>
     <option>4 Months</option>
     <option>5 Months</option>
     <option>6 Months</option>
     <option>7 Months</option>
     <option>8 Months</option>
     <option>9 Months</option>
     <option>10 Months</option>
     <option>11 Months</option>
     <option>12 Months</option>
    </select>
    <p class="help is-danger">
        This field is required
      </p>
  </div>
</div>
</div>
</div>
<br>
<div class = "control">
<button class = "button is-primary" type = "submit">Checkout
</div>

</form>

{% endblock %}