{% extends 'catalog/base.html' %}

{% block content %}
<div>

<body>
<div>
<br>
<form action = "/categories/" method='POST'>
{% csrf_token %}
<div class = "field is-horizontal is-centered">
<div class = "field-body">
<div class = "columns">
<div class = "column ">
<div class = "select is-large is-primary">
<select name = "categories">
<option>SAT I </option>
<option> SAT II </option>
<option> ACT </option>
<option> IELTS </option>
<option> TOEFL </option>
<option> GRE </option>
<option> GMAT </option>
<option> IIT-JEE </option>
<option> Class 12</option>
<option> Class 11</option>


</select>
</div>

</div>
<div class = "column">
<button class = "button is-primary is-large" type = "Submit">Search by Category
</div>
</div>
</form>
</div>
</div></div>
{% if search_results %}
{% for product in search_results %}

  <section class="section">
    <div class="container">
      <div class = "columns">
      <div class = "column is-one-quarter">
      <figure class = "image is-256x256">
      <img src = "https://kitabkuber.s3.ap-south-1.amazonaws.com/{{ product.book_image }}"/>
      </figure>
      </div>
      <div class = "column">
      <h1 class="title"><a href = "/book/{{ product.id }}">{{ product.book_name }}</a> </h1>
      <h2 class="subtitle">
        {{ product.book_description }}
        <br><b>
        <br> Category: {{ product.book_category}}
        <br> MRP: Rs.{{ product.book_price }}
        </b>
      </h2>
      </div>
    </div>
    </div>
  </section>



{% endfor %}
{% else %}
<div class = "enquiry-form">
<center> <h1 class = "title"> Looks like our inventory needs an upgrade! </h1> 
<br> <h2 class = "subtitle"> Can't find your book? Fill in the form below and we'll arrange the book for you right away</h2></center>
<div class = "form">
<form action = "/enquiry/" method = 'POST'>
{% csrf_token %}
<div class = "field">
<label class = "label"> Your Name </label>
<div class = "control">
<input class = "input" type = "text" placeholder = "Your Name" name = "name">
</div>
</div>
<div class = "field">
<label class = "label"> Email Address </label>
<div class = "control">
<input class = "input" type = "email" placeholder = "Email Address" name = "email">
</div>
</div>
<div class = "field">
<label class = "label"> Contact Number </label>
<div class = "control">
<input class = "input" type = "number" placeholder = "Contact Number" name = "mobile">
</div>
</div>
<div class = "field">
<label class = "label"> Book Name </label>
<div class = "control">
<input class = "input" type = "text" placeholder = "Book Name" name = "book_name">
</div>
</div>
<div class = "field">
<label class = "label"> Author/Publisher </label>
<div class = "control">
<input class = "input" type = "text" placeholder = "Author/Publisher" name = "author">
</div>
</div>
 <div class = "control">
<button class = "button is-primary" type = "Submit"> Submit

 </div>
</form>
</div>
{% endif %}
</body>

</div>
{% endblock %}